@model IEnumerable<ContosoUniversity.Core.ViewModels.EnrollmentDateViewModel>

@{
    ViewBag.Title = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table class="table">
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    { 
        var enrollment = item;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => enrollment.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }
</table>